<div class='container'>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Welcome to <i class="fa-solid fa-book"><b>Bookers</b></i>！</h1>
  </div>
  
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <section>
      <p>In <i class="fa-solid fa-book"><b>Bookers</b></i>,<br>
      you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
    </section>
  </div>
  
</div>
<div class="btn-wrapper col-5 mx-auto">
  <div class="row align-items-start">
    <%= link_to "Log in", new_user_session_path, class:"btn btn-info btn-sm btn-block mb-3 sign_in" %>
  </div>
  <div class="row align-items-end">
     <%= link_to "Sign up", new_user_registration_path, class:"btn btn-success btn-sm btn-block sign_up"%>
  </div>
</div>
</div>